<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="">Angular Twitch</a>
    </div>
  </div>
</nav>