<div *ngIf="channelObject">
    <div class="row">
      <div class="row">
        <header class="channel-header">
          <div class="header-content">
            <img class="channel-pic img-thumbnail" src="{{ channelObject.logo }}">
            <h1> {{ channelObject.display_name }} </h1>
          </div>
        </header>
      </div>
    </div>
  <div class="stream-frame">
    <div class="row">
      <div class="co-md-12">
        <iframe
          id="stream"
          [src]="streamUrl | safeUrl"
          frameborder="0"
          scrolling="no"
          allowfullscreen="true">
        </iframe>
      </div>
    </div>
  </div>
  
</div>
