.channel-header
{
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    color: white;
    background-color: #666;
    border: solid 1px white;
}

.header-content
{
    margin: 10 10 10 10;
    display: inline;
    text-align: center;
}

.channel-pic
{
    height: 60px;
    width: 60px;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
}

.stream-frame
{
    background: white;
    padding: 10px 25px 10px 25px;
    border: solid 3px #666;
}

#stream
{
    width: 100%;
    height: 500px;
}