<div class="search-bar">
    <h1>Browse twitch channels</h1>
    <form>
        <div>
            <input type="text" name="searchString" [(ngModel)]="searchString" (keyup)="searchChannels(searchString)" class="form-control"
                placeholder="Search channels...">
        </div>
    </form>
    <div *ngIf="searchResults">
        <div *ngFor="let result of searchResults">
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <h4><a routerLink="/channel/{{ result.name }}">{{ result.name }}</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>